timetracker/Web References/kimai.tsgapis.com/Kimai_Remote_Api.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://kimai.tsgapis.com/core/soap.php" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="Kimai_Remote_Api" targetNamespace="http://kimai.tsgapis.com/core/soap.php" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://kimai.tsgapis.com/core/soap.php">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="authenticateIn">
    <wsdl:part name="username" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="authenticateOut">
    <wsdl:part name="return" type="soap-enc:Array" />
  </wsdl:message>
  <wsdl:message name="startRecordIn">
    <wsdl:part name="apiKey" type="xsd:string" />
    <wsdl:part name="projectId" type="xsd:int" />
    <wsdl:part name="activityId" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="startRecordOut">
    <wsdl:part name="return" type="soap-enc:Array" />
  </wsdl:message>
  <wsdl:message name="stopRecordIn">
    <wsdl:part name="apiKey" type="xsd:string" />
    <wsdl:part name="entryId" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="stopRecordOut">
    <wsdl:part name="return" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="getUsersIn">
    <wsdl:part name="apiKey" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getUsersOut">
    <wsdl:part name="return" type="soap-enc:Array" />
  </wsdl:message>
  <wsdl:message name="getCustomersIn">
    <wsdl:part name="apiKey" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getCustomersOut">
    <wsdl:part name="return" type="soap-enc:Array" />
  </wsdl:message>
  <wsdl:message name="getProjectsIn">
    <wsdl:part name="apiKey" type="xsd:string" />
    <wsdl:part name="includeTasks" type="xsd:anyType" />
  </wsdl:message>
  <wsdl:message name="getProjectsOut">
    <wsdl:part name="return" type="soap-enc:Array" />
  </wsdl:message>
  <wsdl:message name="getTasksIn">
    <wsdl:part name="apiKey" type="xsd:string" />
    <wsdl:part name="projectId" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getTasksOut">
    <wsdl:part name="return" type="soap-enc:Array" />
  </wsdl:message>
  <wsdl:message name="getActiveRecordingIn">
    <wsdl:part name="apiKey" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getActiveRecordingOut">
    <wsdl:part name="return" type="soap-enc:Array" />
  </wsdl:message>
  <wsdl:message name="getTimesheetIn">
    <wsdl:part name="apiKey" type="xsd:string" />
    <wsdl:part name="from" type="xsd:int" />
    <wsdl:part name="to" type="xsd:int" />
    <wsdl:part name="cleared" type="xsd:int" />
    <wsdl:part name="start" type="xsd:int" />
    <wsdl:part name="limit" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getTimesheetOut">
    <wsdl:part name="return" type="soap-enc:Array" />
  </wsdl:message>
  <wsdl:message name="getTimesheetRecordIn">
    <wsdl:part name="apiKey" type="xsd:string" />
    <wsdl:part name="id" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getTimesheetRecordOut">
    <wsdl:part name="return" type="soap-enc:Array" />
  </wsdl:message>
  <wsdl:message name="setTimesheetRecordIn">
    <wsdl:part name="apiKey" type="xsd:string" />
    <wsdl:part name="record" type="soap-enc:Array" />
    <wsdl:part name="doUpdate" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="setTimesheetRecordOut">
    <wsdl:part name="return" type="soap-enc:Array" />
  </wsdl:message>
  <wsdl:message name="removeTimesheetRecordIn">
    <wsdl:part name="apiKey" type="xsd:string" />
    <wsdl:part name="id" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="removeTimesheetRecordOut">
    <wsdl:part name="return" type="soap-enc:Array" />
  </wsdl:message>
  <wsdl:message name="getExpensesIn">
    <wsdl:part name="apiKey" type="xsd:string" />
    <wsdl:part name="from" type="xsd:int" />
    <wsdl:part name="to" type="xsd:int" />
    <wsdl:part name="refundable" type="xsd:int" />
    <wsdl:part name="cleared" type="xsd:int" />
    <wsdl:part name="start" type="xsd:int" />
    <wsdl:part name="limit" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getExpensesOut">
    <wsdl:part name="return" type="soap-enc:Array" />
  </wsdl:message>
  <wsdl:message name="getExpenseRecordIn">
    <wsdl:part name="apiKey" type="xsd:string" />
    <wsdl:part name="id" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getExpenseRecordOut">
    <wsdl:part name="return" type="soap-enc:Array" />
  </wsdl:message>
  <wsdl:message name="setExpenseRecordIn">
    <wsdl:part name="apiKey" type="xsd:string" />
    <wsdl:part name="record" type="soap-enc:Array" />
    <wsdl:part name="doUpdate" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="setExpenseRecordOut">
    <wsdl:part name="return" type="soap-enc:Array" />
  </wsdl:message>
  <wsdl:message name="removeExpenseRecordIn">
    <wsdl:part name="apiKey" type="xsd:string" />
    <wsdl:part name="id" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="removeExpenseRecordOut">
    <wsdl:part name="return" type="soap-enc:Array" />
  </wsdl:message>
  <wsdl:portType name="Kimai_Remote_ApiPort">
    <wsdl:operation name="authenticate">
      <documentation>Authenticates a user and returns the API key.
The result is either an empty string (not allowed or need to login first via web-interface) or
a string with max 30 character, representing the users API key.</documentation>
      <wsdl:input message="tns:authenticateIn" />
      <wsdl:output message="tns:authenticateOut" />
    </wsdl:operation>
    <wsdl:operation name="startRecord">
      <documentation>The user started the recording of an activity via the buzzer. If this method
is called while another recording is running the first one will be stopped.
If $projectId and $activityId are empty the last activity will be restarted.</documentation>
      <wsdl:input message="tns:startRecordIn" />
      <wsdl:output message="tns:startRecordOut" />
    </wsdl:operation>
    <wsdl:operation name="stopRecord">
      <documentation>Stops the currently running recording. If $entryId is empty the
current activity will be stopped.</documentation>
      <wsdl:input message="tns:stopRecordIn" />
      <wsdl:output message="tns:stopRecordOut" />
    </wsdl:operation>
    <wsdl:operation name="getUsers">
      <documentation>Return a list of users. Customers are not shown any users. The
type of the current user decides which users are shown to him.
Returns false if the call could not be executed, null if no users
could be found or an array of users.</documentation>
      <wsdl:input message="tns:getUsersIn" />
      <wsdl:output message="tns:getUsersOut" />
    </wsdl:operation>
    <wsdl:operation name="getCustomers">
      <documentation>Return a list of customers. A customer can only see himself.</documentation>
      <wsdl:input message="tns:getCustomersIn" />
      <wsdl:output message="tns:getCustomersOut" />
    </wsdl:operation>
    <wsdl:operation name="getProjects">
      <documentation>Return a list of projects. Customers are only shown their projects.</documentation>
      <wsdl:input message="tns:getProjectsIn" />
      <wsdl:output message="tns:getProjectsOut" />
    </wsdl:operation>
    <wsdl:operation name="getTasks">
      <documentation>Return a list of tasks. Customers are only shown tasks which are
used for them. If a project is set as filter via the project parameter
only tasks for that project are shown.</documentation>
      <wsdl:input message="tns:getTasksIn" />
      <wsdl:output message="tns:getTasksOut" />
    </wsdl:operation>
    <wsdl:operation name="getActiveRecording">
      <documentation>Returns an array with values of the currently active recording.</documentation>
      <wsdl:input message="tns:getActiveRecordingIn" />
      <wsdl:output message="tns:getActiveRecordingOut" />
    </wsdl:operation>
    <wsdl:operation name="getTimesheet">
      <documentation>Returns a list of recorded times.</documentation>
      <wsdl:input message="tns:getTimesheetIn" />
      <wsdl:output message="tns:getTimesheetOut" />
    </wsdl:operation>
    <wsdl:operation name="getTimesheetRecord">
      <documentation>@param string $apiKey</documentation>
      <wsdl:input message="tns:getTimesheetRecordIn" />
      <wsdl:output message="tns:getTimesheetRecordOut" />
    </wsdl:operation>
    <wsdl:operation name="setTimesheetRecord">
      <documentation>@param string $apiKey</documentation>
      <wsdl:input message="tns:setTimesheetRecordIn" />
      <wsdl:output message="tns:setTimesheetRecordOut" />
    </wsdl:operation>
    <wsdl:operation name="removeTimesheetRecord">
      <documentation>@param string $apiKey</documentation>
      <wsdl:input message="tns:removeTimesheetRecordIn" />
      <wsdl:output message="tns:removeTimesheetRecordOut" />
    </wsdl:operation>
    <wsdl:operation name="getExpenses">
      <documentation>Returns a list of expenses.</documentation>
      <wsdl:input message="tns:getExpensesIn" />
      <wsdl:output message="tns:getExpensesOut" />
    </wsdl:operation>
    <wsdl:operation name="getExpenseRecord">
      <documentation>@param string $apiKey</documentation>
      <wsdl:input message="tns:getExpenseRecordIn" />
      <wsdl:output message="tns:getExpenseRecordOut" />
    </wsdl:operation>
    <wsdl:operation name="setExpenseRecord">
      <documentation>@param string $apiKey</documentation>
      <wsdl:input message="tns:setExpenseRecordIn" />
      <wsdl:output message="tns:setExpenseRecordOut" />
    </wsdl:operation>
    <wsdl:operation name="removeExpenseRecord">
      <documentation>@param string $apiKey</documentation>
      <wsdl:input message="tns:removeExpenseRecordIn" />
      <wsdl:output message="tns:removeExpenseRecordOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Kimai_Remote_ApiBinding" type="tns:Kimai_Remote_ApiPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="authenticate">
      <soap:operation soapAction="http://kimai.tsgapis.com/core/soap.php#authenticate" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://kimai.tsgapis.com/core/soap.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://kimai.tsgapis.com/core/soap.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="startRecord">
      <soap:operation soapAction="http://kimai.tsgapis.com/core/soap.php#startRecord" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://kimai.tsgapis.com/core/soap.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://kimai.tsgapis.com/core/soap.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="stopRecord">
      <soap:operation soapAction="http://kimai.tsgapis.com/core/soap.php#stopRecord" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://kimai.tsgapis.com/core/soap.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://kimai.tsgapis.com/core/soap.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsers">
      <soap:operation soapAction="http://kimai.tsgapis.com/core/soap.php#getUsers" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://kimai.tsgapis.com/core/soap.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://kimai.tsgapis.com/core/soap.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomers">
      <soap:operation soapAction="http://kimai.tsgapis.com/core/soap.php#getCustomers" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://kimai.tsgapis.com/core/soap.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://kimai.tsgapis.com/core/soap.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProjects">
      <soap:operation soapAction="http://kimai.tsgapis.com/core/soap.php#getProjects" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://kimai.tsgapis.com/core/soap.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://kimai.tsgapis.com/core/soap.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTasks">
      <soap:operation soapAction="http://kimai.tsgapis.com/core/soap.php#getTasks" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://kimai.tsgapis.com/core/soap.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://kimai.tsgapis.com/core/soap.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActiveRecording">
      <soap:operation soapAction="http://kimai.tsgapis.com/core/soap.php#getActiveRecording" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://kimai.tsgapis.com/core/soap.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://kimai.tsgapis.com/core/soap.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTimesheet">
      <soap:operation soapAction="http://kimai.tsgapis.com/core/soap.php#getTimesheet" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://kimai.tsgapis.com/core/soap.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://kimai.tsgapis.com/core/soap.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTimesheetRecord">
      <soap:operation soapAction="http://kimai.tsgapis.com/core/soap.php#getTimesheetRecord" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://kimai.tsgapis.com/core/soap.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://kimai.tsgapis.com/core/soap.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setTimesheetRecord">
      <soap:operation soapAction="http://kimai.tsgapis.com/core/soap.php#setTimesheetRecord" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://kimai.tsgapis.com/core/soap.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://kimai.tsgapis.com/core/soap.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeTimesheetRecord">
      <soap:operation soapAction="http://kimai.tsgapis.com/core/soap.php#removeTimesheetRecord" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://kimai.tsgapis.com/core/soap.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://kimai.tsgapis.com/core/soap.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExpenses">
      <soap:operation soapAction="http://kimai.tsgapis.com/core/soap.php#getExpenses" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://kimai.tsgapis.com/core/soap.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://kimai.tsgapis.com/core/soap.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExpenseRecord">
      <soap:operation soapAction="http://kimai.tsgapis.com/core/soap.php#getExpenseRecord" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://kimai.tsgapis.com/core/soap.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://kimai.tsgapis.com/core/soap.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setExpenseRecord">
      <soap:operation soapAction="http://kimai.tsgapis.com/core/soap.php#setExpenseRecord" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://kimai.tsgapis.com/core/soap.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://kimai.tsgapis.com/core/soap.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeExpenseRecord">
      <soap:operation soapAction="http://kimai.tsgapis.com/core/soap.php#removeExpenseRecord" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://kimai.tsgapis.com/core/soap.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://kimai.tsgapis.com/core/soap.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Kimai_Remote_ApiService">
    <wsdl:port name="Kimai_Remote_ApiPort" binding="tns:Kimai_Remote_ApiBinding">
      <soap:address location="http://kimai.tsgapis.com/core/soap.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>